{
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "react",
    "import",
    "jsx-a11y",
    "sort-imports-es6-autofix",
    "modules-newline"
  ],
  "rules": {
    "react/prop-types": 0,
    "linebreak-style": 1,
    "quotes": [
      "error",
      "single"
    ],
    "react/display-name": "off",
    "react/react-in-jsx-scope": "off",
    "sort-imports-es6-autofix/sort-imports-es6": [
      2,
      {
        "ignoreCase": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": [
          "none",
          "all",
          "multiple",
          "single"
        ]
      }
    ],
  "prefer-template": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}